@page "/Groop"
@using SeriousSem.Data
@inject WeatherForecastService ForecastService

<h3>Данные о группа</h3>

@if (DateGroops == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Группа</th>
                <th>Факультатив</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var DateGrip in DateGroops)
            {
                <tr>
                    <td>@DateGrip.name</td>
                    <td>@DateGrip.surname</td>
                    <td>@DateGrip.group</td>
                    <td>@DateGrip.faculty</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    public static List<LogicGroop> DateGroops = LogicGroop.GetStudents();
}
